

<div class="container" style="background-color: rgb(204, 223, 243)">
    <b><H3 style="color:blue">Angular 4 CRUD Operation Basic Example....!</H3></b>

<div class="row">
  <div class="col-md-12">
    <form  #portal="ngForm"> 
      <div class="form-group">
        <label for="id">ID</label>        
          <input type="text" [(ngModel)]=user.id ngModel name="id" class="form-control" id="id" required/>
      </div>
      <div class="form-group">
          <label for="name">NAME</label>        
            <input type="text" [(ngModel)]=user.name ngModel name="name" class="form-control" id="name" required/>
        </div>
        <div class="form-group">
            <label for="age">AGE</label>        
              <input type="text" [(ngModel)]=user.age ngModel name="age" class="form-control" id="age" required/>
          </div>
    </form>
  </div>
  <button (click) = addPerson(portal) class="btn btn-success" style="background-color: blue" *ngIf="removePerson">Add Button</button>
  <button (click) = updatePerson(portal) class="btn btn-success" *ngIf="updatePersonDetails">Update Button</button>
<br>
<br>
  <table class="table table-striped table-bordered">
    <thead class="mdb-color darken-3">
      <tr class="text-white" style="background-color:grey">
        <th>ID</th>
        <th>NAME</th>
        <th>AGE</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of personData;let i = index">
        <td>{{i}}{{person.id}}</td>
        <td>{{person.name}}</td>
        <td>{{person.age}}</td>
        <td (click) = editPerson(person)>Edit</td>
        <td (click) = deletePerson(i)>Delete</td>
      </tr>
    </tbody>
  </table>

</div>
</div>