<div class="container">
<div class="row">
  <div class="col-md-12">
    <form  #portal="ngForm"> 
      <div class="form-group">
        <label for="id">ID</label>        
          <input type="text" [(ngModel)]=user.id ngModel name="id" class="form-control" id="id" required/>
      </div>
      <div class="form-group">
          <label for="name">NAME</label>        
            <input type="text" [(ngModel)]=user.name ngModel name="name" class="form-control" id="name" required/>
        </div>
        <div class="form-group">
            <label for="age">AGE</label>        
              <input type="text" [(ngModel)]=user.age ngModel name="age" class="form-control" id="age" required/>
          </div>
    </form>
  </div>
  <button (click) = addPerson(portal) class="btn btn-success" *ngIf="removePerson">Add Button</button>
  <button (click) = updatePerson(portal) class="btn btn-success" *ngIf="updatePersonDetails">Update Button</button>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AGE</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of personData;let i = index">
        <td>{{i}}{{person.id}}</td>
        <td>{{person.name}}</td>
        <td>{{person.age}}</td>
        <td (click) = editPerson(person)>Edit</td>
        <td (click) = deletePerson(i)>Delete</td>
      </tr>
    </tbody>
  </table>

</div>
</div>